<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Самарканд</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../css/inf-tour.css">
    <link rel="stylesheet" href="../main.css">


</head>

<body>


    <div class="mainbox">
        <div class="container">

            <div class="back-arrow">
                <a href="../index.html">
                    ◀ назад
                </a>
            </div>


            <div class="inf-tour-box">
                <div class="left-inf-tour">
                    <img src="../images/samarqand.jpg" alt="">
                    <img src="../images/756644584696356.webp" alt="">
                    <img src="../images/konigil-0-0-0-0-1594286696 (1).jpg" alt="">
                    <img src="../images/medresse.jpg" alt="">
                    <img src="../images/kukaldosh.jpg" alt="">
                </div>

                <div class="right-inf-tour">
                    <h1>
                        Города, жемчужины Востока.
                    </h1>
                    <p class="tour-city">
                        Маршрут: Ташкент, Самарканд, Бухара.
                        Продолжительность: 6 дней 5 ночей.
                    </p>
                    <p class="information-tour">
                        За эти дни вы увидите всю красоту и изящность этих городов. Древнейшие соперницы Самарканд и
                        Бухара
                        будет завораживать ваш взор, современный мегаполис Ташкент удивит вас современными и советскими
                        архитектурами. А вкусная и разнообразная узбекская кухня запомнится на долго. Добро пожаловать в
                        Узбекистан!
                    </p>
                    <div class="rating">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                    </div>
                    <div class="button-inf">
                        <a class="inf-button-a" href="tel:+998933477505">
                            Бронирование
                        </a>
                        <a class="inf-button-a" href="https://t.me/MizrobAli">
                            Напишите в Telegram
                        </a>
                    </div>

                    <div class="tour-each">
                        <h3>
                            Программа тура.
                        </h3>
                        <p>
                            Прибытие в Ташкент 20 марта <br>
                            ( например: Алматы- Ташкент 12:05- 12:45 Узбекистон Хаво Йуллари)
                        </p>
                        <div class="firs-day">
                            <h4>
                                1- День 20.03
                            </h4>
                            <b>
                                Ташкент
                            </b>
                            <p>


                                13:30 Встреча и трансфер в отель
                                Размещение в отеле.
                                15:00 Встреча с гидом в холле отеля.
                            </p>
                            <p>
                                Экскурсия по Ташкенту: старый город, архитектурно- культовый комплекс Хаст- Имам( Хазрат
                                Имам), с грандиозной пятничной мечетью, средневековым мавзалеем Каффаль Шаши, медресе
                                Баракхана, Исламский университет и библиотека в мечети Тилля- шейха.
                                Вечерний Ташкент сити.
                                18:00 Ужин
                            </p>
                        </div>
                        <div class="second-day">
                            <h4>
                                2- День 21.03
                            </h4>
                            <b>
                                Ташкент. Переезд в Самарканд
                            </b>
                            <p>
                                Завтрак в отеле.
                                9:00 Встреча с гидом в холле отеля
                                Продолжение экскурсии по Ташкенту: Восточный базар Чорсу; Медресе Кукельдаш; площадь «
                                Дружба народов», медресе Абдулкосима, памятник Алишеру Навои; площадь Амира Темура;
                            </p>
                            <p>
                                12:00-13:30 Обед
                            </p>
                            <p>
                                Продолжение экскурсии:
                                Монумент «Мужество»; площадь Мустакиллик ( Независимости) с монументом Независимости;
                                театр
                                оперы и балета им. Алишера Навои.
                            </p>
                            <p>
                                18:30 Трансфер в вокзал
                            </p>
                            <p>
                                Переезд Ташкент -Самарканд
                                19:20 - 21:33
                            </p>
                            <p>
                                Встреча с вокзала и трансфер в отель.
                                Размещение в отель.
                            </p>
                        </div>
                        <div class="third-day">
                            <h4>
                                3-День 22.03
                            </h4>
                            <p>
                                Самарканд
                            </p>
                            <p>
                                Завтрак в отеле.
                            </p>
                            <p>
                                Экскурсия по Самарканду:
                                «Сердце» Самарканда - площадь Регистана с 3-мя знаменитыми медресе: Щердор, Улугбек и
                                Тилля-
                                Кори, грандиозная соборная мечеть Биби- Ханум, великолепный мавзалей Гур-Эмир в котором
                                захоронен Тамерлан , его сыновья и внук Улугбек.
                            </p>
                            <p>
                                12:00-13:30 Обед в Самарканде "Ош Маркази"
                            </p>
                            <p>
                                14:00 Продолжение экскурсии по Самарканду:
                                Обсерватория Улугбека, некрополь Шахи Зинда, экзотический Сиабский базар,
                                шелковая-ковровая
                                фабрика , бумажная фабрика Конигил
                            </p>
                            <p>
                                18:00 Ужин
                                Возвращение в отель
                            </p>
                        </div>
                        <div class="four-day">
                            <h4>
                                4- День 23.03
                            </h4>
                            <b>
                                Самарканд. Бухара
                            </b>
                            <p>
                                7:00 -8:30 Завтрак в отеле
                                9:30 Трансфер в вокзал. Переезд в Бухару
                                Самарканд- Бухара 10:46-12:29
                                13:00 Встреча с вокзала и трансфер в отель
                                Размещение в отель
                            </p>
                            <p>
                                Обед
                            </p>

                            <p>
                                15:00 Встреча с гидом на холле отеля. Экскурсия по Бухаре: комплекс Ляби
                                Хауз-"сердце"старой
                                Бухары; медресе Нодир Диванбеги; медресе Кукельдаш с бронзовой скульптурой мудреца Ходжа
                                Насриддина на ослике; комплекс Пои-Калян, включает медресе Мири-Араб, мечеть Калян и
                                минарет
                                Калян высотой 46,5 метров; торговые купола Бухары.
                            </p>

                            <p>
                                19:00 Ужин
                                Возвращение в отель.
                            </p>
                        </div>
                        <div class="five-day">
                            <h4>
                                5- День 24.03
                            </h4>
                            <b>
                                Бухара. Ташкент
                            </b>
                            <p>
                                7:00-8:30 Завтрак в отеле
                                9:00 Встреча с гидом в холле отеля
                                Продолжение экскурсии по Бухаре: Цитадель Арк- самое древнее сооружение города; Мавзалей
                                Саманидов -усыпальница правителей Бухары; Мавзолей саркофаг Чашма Аюб; медресе
                                Чор-Минор-комплекс с четырьмя минаретами; Ситора-и- Мохи Хоса-летняя загородная
                                резиденция
                                последнего эмира Бухары и мемориальный комплекс Бахоуддина Накшбанди.
                            </p>
                            <p>
                                12:00-13:30 Обед
                                Возвращение в отель
                            </p>
                            <p>
                                15:30 Трансфер в вокзал
                                Переезд в Ташкент поезд Бухара-Ташкент 16;23-22:50
                                Встреча с вокзала и трансфер в отель
                                Размещение в отеле
                            </p>
                        </div>
                        <div class="six-day">
                            <h4>
                                6-День 25.03
                            </h4>
                            <b>
                                Ташкент
                            </b>
                            <p>
                                7:00-8:30 Завтрак в отеле
                                Самостоятельные прогулки по Ташкенту до 12:00
                                12:30 Трансфер в аэропорт
                                Перелёт в Алматы ( например: Ташкент-Алматы 13:55-16:25 Узбекистон Хаво Йуллари)
                            </p>
                        </div>
                        <div class="details">
                            <h3>
                                Экскурсионные детали:
                            </h3>
                            <b>
                                В стоимость тура включено
                            </b>
                            <ul>
                                <li>
                                    Отель
                                </li>
                                <li>
                                    Входные билеты
                                </li>
                                <li>
                                    Завтраки
                                </li>
                                <li>
                                    Переезды на поезд (внутренний)
                                </li>
                                <li>
                                    Услуги гида, трансферы и транспорт по городам.
                                </li>
                            </ul>
                            <b>
                                В стоимость тура не включено
                            </b>
                            <ul>
                                <li>
                                    Международные рейсы
                                </li>
                                <li>
                                    полупансион (обед или ужин) и пансион (обед и ужин)
                                </li>
                                <li>
                                    чаевые
                                </li>
                                <li>
                                    дополнительные у слуги в отеле
                                </li>
                                <li>
                                    Страховкаа
                                </li>
                                <li>
                                    одноместные номера ( доплачивается )
                                </li>
                            </ul>
                        </div>


                    </div>
                </div>




            </div>
        </div>
    </div>




</body>

</html>