<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tours</title>
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../css/pptours.css">
    <link rel="stylesheet" href="../css/tours.css">
    <link rel="stylesheet" href="../css/header.css">


    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>



</head>

<body>

    <div class="mainbox">
        <div class="container">

            <header>
                <div class="logo">

                </div>
                <nav>
                    <a href="../index.html">основной</a>
                    <a href="./tours.html">туры</a>
                    <a href="">галерея</a>
                    <a href="">контакт</a>
                    <div class="respons">
                        <img src="./images/hamburger.png" alt="">
                    </div>
                </nav>
            </header>


            <div class="popular-tours all-tours">
                <h1 class="all-tours-title">
                    Все туры
                </h1>
                <div class="pp-tours-cards">

                    <div class="card-tour">
                        <div class="top">
                            <i class='bx bx-current-location'></i>
                            <p>Самарканд</p>
                        </div>
                        <div class="bottom">
                            всемирно известная площадь <br>
                            <h2>Регистан</h2>
                        </div>

                        <div class="contact-tour">
                            <a href="tel:+998933477505" target="_blank">Бронирование</a>
                            <a href="https://t.me/MizrobAli" target="_blank">подробнее</a>
                        </div>
                    </div>



                    <div class="card-tour m-top bg-kukaldosh">
                        <div class="top">
                            <i class='bx bx-current-location'></i>
                            <p>Ташкент</p>
                        </div>
                        <div class="bottom">
                            всемирно известная медресе <br>
                            <h2>Кокалдош</h2>
                        </div>
                        <div class="contact-tour">
                            <a href="tel:+998933477505" target="_blank">Бронирование</a>
                            <a href="https://t.me/MizrobAli" target="_blank">больше информации</a>
                        </div>
                    </div>
                    <div class="card-tour">
                        <div class="top">
                            <i class='bx bx-current-location'></i>
                            <p>Самарканд</p>
                        </div>
                        <div class="bottom">
                            Кони Гил *Мерос* <br>
                            <h2>Бумажная фабрика</h2>
                        </div>
                        <div class="contact-tour">
                            <a href="tel:+998933477505" target="_blank">Бронирование</a>
                            <a href="https://t.me/MizrobAli" target="_blank">больше информации</a>
                        </div>
                    </div>
                    <div class="card-tour m-top">
                        <div class="top">
                            <i class='bx bx-current-location'></i>
                            <p>Ташкент</p>
                        </div>
                        <div class="bottom">
                            всемирно известная Медресе <br>
                            <h2>Медресе Баракхан</h2>
                        </div>
                        <div class="contact-tour">
                            <a href="tel:+998933477505" target="_blank">Бронирование</a>
                            <a href="https://t.me/MizrobAli" target="_blank">больше информации</a>
                        </div>
                    </div>
                </div>
               

            </div>
        </div>
    </div>


</body>

</html>