.popular-tours {
    width: 100%;
    margin: 50px 0px;
    height: auto;
}

.pp-tours-cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}

.card-tour .top {
    display: flex;

    align-items: center;
    height: 40px;
    background-color: #fff;
    border-radius: 20px;
    width: 40%;
    position: absolute;
    right: 20px;
    align-items: center;
    top: 20px;
    justify-content: center;
    gap: 10px;

}

.top i {
    color: red;
    font-size: 25px;
}

.card-tour {
    position: relative;
    width: 24%;
    height: 450px;
    background-image: url('../images/96OKEFrrr_I.jpg');
    background-size: cover;
    border-radius: 30px;
    transition: .3s;
    cursor: pointer;

}

.card-tour:nth-child(3) {
    background-image: url('../images/konigil-0-0-0-0-1594286696\ \(1\).jpg');
}

.card-tour:nth-child(4) {
    background-image: url('../images/medresse.jpg');
}

.card-tour:hover {
    transform: scale(1.03);
}

/* bg-kukaldosh */
.bg-kukaldosh {
    background-image: url('../images/kukaldosh.jpg');
}


.card-tour .bottom {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
    font-size: 20px;
}

.m-top {
    margin-top: 40px;
}

.bottom-pp-tours {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    align-items: center;
}



@media only screen and (max-width: 835px) {
    .pp-tours-cards {
        display: grid;
        grid-template-columns: 49% 49%;
    }

    .pp-tours-cards .card-tour {
        width: 100%;
    }
}

@media only screen and (max-width: 428px) {
    .pp-tours-cards {
        display: grid;
        grid-template-columns: 95%;
        gap: 20px;
        justify-content: center;
    }

    .pp-tours-cards .card-tour {
        width: 100%;
    }

    .m-top {
        margin-top: 0;
    }
}